[submodule "External/Vma"]
	path = External/Vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "External/Glfw"]
	path = External/Glfw
	url = https://github.com/glfw/glfw.git
[submodule "External/stb"]
	path = External/stb
	url = https://github.com/nothings/stb.git
